/* Moderno Admin :: CMS CSS Definitions
===================================================================================================================== */

.field .fieldgroup-field > i.fa.by {
  line-height: 32px;
}
